* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightcoral;
}

.container {
    display: grid;
    border: 1px solid blue;
    height: 600px;
    width: 600px;
    overflow:hidden;
    grid-gap: auto;
    
}


.box {
    outline: green solid 1px;
    /* content: ""; */
    /* height: 0; */
    /* padding-bottom: 100%; */
    /* display: block; */
}

.box:hover {
    background: randomColor();
}